* {
  text-align: center;
  color: azure;
  background-color: cadetblue;
}

h1 {
  font-size: 3vh;
  padding: 5vh 0 1vh;
}

section {
  max-width: 500px;
  margin: auto;
}

section > * {
  margin: 4vh 0;
}